html{

	text-align: center;
}

body{
  background-color: #EFE7AA;
	font-family: 'Droid Sans', sans-serif;

}
input, button{
	font-family: 'Droid Sans', sans-serif;
}

#tasks{
  background-color: #855E28;
  margin-left:auto;
  margin-right:auto;
  width:70%;
  min-height:100px;
  max-height: 80%;
	margin-top:1%;
	box-sizing:border-box;
	padding:2%;
	border-radius:20px;
}
#adding{
  margin-left:auto;
  margin-right:auto;
  background-color: #855E28;
  width:64%;
  padding: 1% 3% 1% 3%;
	border-radius:20px;
}
#adding>*{
border:2px solid #ddd;

padding:1%;
box-sizing:border-box;
font-size:2em;
outline:none;
border-radius:5px;
background-color:#efefef;
color:#666;
}
#input{
  width:80%;
}
#add{
  margin-left:0%;
  width:10%;
}
#list>li{
	font-size:2em;
	list-style-type:none;
	margin-bottom:0.6em;
	color:#223344;

}
.done{
  margin-left:20px;
  color:#666;
	font-size:0.5em;
}
